# SPDX-License-Identifier: GPL-2.0-only
if PM_DEVFREQ

comment "DEVFREQ Governors"

config DEVFREQ_GOV_QCOM_ADRENO_TZ
	tristate "Qualcomm Technologies, Inc. GPU frequency governor"
	help
	  GPU frequency governor for the Adreno GPU. Sets the frequency
	  using an "on demand" algorithm in conjunction with other
	  components on Adreno platforms. This is not useful for non-Adreno
	  devices.

config DEVFREQ_GOV_QCOM_GPUBW_MON
	tristate "Qualcomm Technologies, Inc. GPU bandwidth governor"
	depends on DEVFREQ_GOV_QCOM_ADRENO_TZ
	help
	  This governor works together with the Adreno GPU governor to
	  select bus frequency votes using an "on-demand" algorithm.
	  This governor will not be useful for non-Adreno based
	  targets.

config DEVFREQ_GOV_QCOM_ADRENO_RO
	tristate "Qualcomm Technologies, Inc. GPU frequency governor"
	help
	  This governor is intended for GMU-based DCVS targets that do not
	  support power scaling through devfreq. It is only used for querying
	  the current GPU frequency for the Adreno GPU. This is not useful for
	  non-Adreno devices.

endif # PM_DEVFREQ
