# SPDX-License-Identifier: GPL-2.0-only

if MAILBOX

config QCOM_IPCC
	tristate "Qualcomm Technologies, Inc. IPCC driver"
	depends on ARCH_QCOM || COMPILE_TEST
	help
	  Qualcomm Technologies, Inc. Inter-Processor Communication Controller
	  (IPCC) driver for MSM devices. The driver provides mailbox support for
	  sending interrupts to the clients. On the other hand, the driver also
	  acts as an interrupt controller for receiving interrupts from clients.
	  Say Y here if you want to build this driver.

config MSM_QMP
	tristate "QTI Mailbox Protocol(QMP)"
	help
	  Say yes to add support for the QTI Mailbox Protocol mailbox driver.
	  QMP is a lightweight communication protocol for sending messages to
	  a remote processor. This protocol fits into the Generic Mailbox
	  Framework. QMP uses a mailbox located in shared memory.

endif
