# SPDX-License-Identifier: GPL-2.0-only
menu "General setup"

config MSM_SYSSTATS
        tristate "Export system/task statistics through netlink"
        depends on NET
        depends on MULTIUSER
        help
          Export system and task statistics through generic netlink
          interface. Userspace can retrieve these statistics via netlink
          socket.
          If unsure, say N

config MSM_SYSSTATS_STUB_NONEXPORTED_SYMBOLS
        bool "Stub out non-exported core-kernel symbols"
        depends on MSM_SYSSTATS
        help
          Stub out is_system_dmabufheap(), vmalloc_nr_pages() and si_swapinfo().
          Enabling this option will make the swap_used, swap_total and
          vmalloc_total fields of struct sysstats_mem 0, and will make the
          unreclaimable field either 0, or make it only include the KGSL memory.
          If unsure, say N.

endmenu		# General setup
