# SPDX-License-Identifier: GPL-2.0-only
#
# SPI driver configuration
#

if SPI

#
# MASTER side ... talking to discrete SPI slave chips including microcontrollers
#

if SPI_MASTER

comment "SPI Master Controller Drivers"

config Q2SPI_MSM_GENI
	tristate "Qualcomm Technologies Inc.'s GENI based Q2SPI controller"
	depends on QCOM_GENI_SE
	depends on MSM_GPI_DMA
	help
	  This driver supports GENI serial engine based Q2SPI controller in
	  master mode on the Qualcomm Technologies Inc.'s SoCs. If you say
	  yes to this option, support will be included for the built-in Q2SPI
	  interface on the Qualcomm Technologies Inc.'s SoCs.

	  This driver can also be built as a module.  If so, the module
	  will be called q2spi-geni.

config SPI_MSM_GENI
	tristate "Qualcomm Technologies Inc.'s GENI based SPI controller"
	depends on QCOM_GENI_SE
	help
	  This driver supports GENI serial engine based SPI controller in
	  master mode on the Qualcomm Technologies Inc.'s SoCs. If you say
	  yes to this option, support will be included for the built-in SPI
	  interface on the Qualcomm Technologies Inc.'s SoCs.

	  This driver can also be built as a module.  If so, the module
	  will be called spi-msm-geni.

config SPI_QCOM_GENI
	tristate "Qualcomm GENI based SPI controller"
	depends on QCOM_GENI_SE
	help
	  This driver supports GENI serial engine based SPI controller in
	  master mode on the Qualcomm Technologies Inc.'s SoCs. If you say
	  yes to this option, support will be included for the built-in SPI
	  interface on the Qualcomm Technologies Inc.'s SoCs.

	  This driver can also be built as a module.  If so, the module
	  will be called spi-geni-qcom.

config SPI_QCOM_GENI_MSM
	tristate "Qualcomm Technologies Inc.'s GENI based SPI controller with SCMI"
	depends on QCOM_GENI_SE_MSM
	help
	  This driver supports GENI serial engine based SPI controller in
	  master mode on the Qualcomm Technologies Inc.'s SoCs. If you say
	  yes to this option, support will be included for the built-in SPI
	  interface on the Qualcomm Technologies Inc.'s SoCs.

	  This driver can also be built as a module.  If so, the module
	  will be called spi-geni-qcom-msm.

endif # SPI_MASTER

endif # SPI
