# SPDX-License-Identifier: GPL-2.0-only
#
# MMC/SD host controller drivers
#

comment "MMC/SD/SDIO Host Controller Drivers"

config MMC_SDHCI_MSM
	tristate "Qualcomm SDHCI Controller Support"
	depends on ARCH_QCOM || COMPILE_TEST
	depends on MMC_SDHCI_PLTFM
	select MMC_SDHCI_IO_ACCESSORS
	select MMC_CQHCI
	select QCOM_INLINE_CRYPTO_ENGINE if MMC_CRYPTO
	help
	  This selects the Secure Digital Host Controller Interface (SDHCI)
	  support present in Qualcomm SOCs. The controller supports
	  SD/MMC/SDIO devices.

	  If you have a controller with this interface, say Y or M here.

	  If unsure, say N.

config SDHCI_MSM_DBG
	bool "Qualcomm Technologies, Inc. SDHCI_MSM_DBG Driver"
	depends on MMC_SDHCI_MSM
	help
	  This enables the IPC tracing events for sdhci_msm driver.

	  Tracing sdhci_msm events helps to trace significant events
	  used for debugging purpose.

	  If unsure, say N here.

config MMC_CRYPTO
	bool "MMC Crypto Engine Support"
	depends on BLK_INLINE_ENCRYPTION
	help
	  Enable Crypto Engine Support in MMC.
	  Enabling this makes it possible for the kernel to use the crypto
	  capabilities of the MMC device (if present) to perform crypto
	  operations on data being transferred to/from the device.

config MMC_CRYPTO_QTI
        tristate "MMC Crypto Engine Support for QCOM Hardware Wrapped Keys"
        depends on MMC_CRYPTO && QCOM_INLINE_CRYPTO_ENGINE
        help
          Enable Crypto Engine Support in MMC for QCOM chipsets supporting
          wrapped keys. This is explicitly required until wrapped keys support
          for QCOM chipsets is part of Linux upstream.

          Select this to enable QCOM Hardware Wrapped Key support for the
          ICE hardware.
