# SPDX-License-Identifier: GPL-2.0

config QTVM_HIDDEN_CONFIGS
	bool "Hidden QTVM configuration"
	select GKI_HIDDEN_DRM_CONFIGS
	select ARCH_HAS_DMA_OPS
	select DMADEVICES
	select DMA_VIRTUAL_CHANNELS
	select PINCTRL_SINGLE if (PINCTRL && OF && HAS_IOMEM)
	select AUXILIARY_BUS
	select IOMMU_IO_PGTABLE_LPAE
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN_HIERARCHY
	select IRQ_FASTEOI_HIERARCHY_HANDLERS
	select SYS_HYPERVISOR
	select REGMAP_MMIO
