# SPDX-License-Identifier: GPL-2.0-only
menu "IRQ chip support"

config QCOM_PDC
	tristate "QCOM PDC"
	depends on ARCH_QCOM
	select IRQ_DOMAIN_HIERARCHY
	help
	  Power Domain Controller driver to manage and configure wakeup
	  IRQs for Qualcomm Technologies Inc (QTI) mobile chips.

config QCOM_SHOW_RESUME_IRQ
        tristate "Enable logging of interrupts that could have caused resume"
        depends on PM
        depends on ARM_GIC || ARM_GIC_V3
        help
          This option logs wake up interrupts that have triggered just before
          the resume loop unrolls. It helps to debug to know any unnecessary
          wake up interrupts that causes system to come out of low power modes.
          Say Y if you want to debug why the system resumed.

endmenu
