# SPDX-License-Identifier: GPL-2.0
#
# Backlight & LCD drivers configuration
#

menu "Backlight & LCD device support"

#
#
# Backlight
#

config BACKLIGHT_QCOM_SPMI_WLED
        tristate "Qualcomm Technologies, Inc. WLED Driver"
        select REGMAP
        help
          If you have the Qualcomm Technologies, Inc. WLED used for backlight
          control, say Y to enable a driver for the  WLED block. This driver
          provides the interface to the display driver to adjust the brightness
          of the display backlight. This supports PMI8998, PM8150L, PM6150L
          currently.

endmenu
