# SPDX-License-Identifier: GPL-2.0-only

config DRM_MSM_HELPER
       tristate "DRM MSM HELPER"
       select DRM_DP_AUX_BUS
       select DRM_DISPLAY_HELPER
       select DRM_DISPLAY_DP_HELPER
       help
        Wrapper symbol to allow for compilation of drm display
        helper code.

        Allows the display loadable module to link against
        helper functions.
